<ng-container>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span class="title-center">CBR Reporting</span>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon" (click)="openDialog()">
                add
            </mat-icon>
        </mat-toolbar-row>
        <div>
            <mat-progress-bar *ngIf="isGeneratingReport" mode="indeterminate"></mat-progress-bar>
        </div>
    </mat-toolbar>
    <div *ngFor="let chart of charts" style="text-align: center; width: 50%; height: 50%;">
        <!-- <bar-chart></bar-chart>
    <line-chart></line-chart> -->
        <line-chart *ngIf="chart.chartType === 'line'" [lineChartLabels]="chart.lineChartLabels"
            [lineChartData]="chart.lineChartData" [title]="chart.title">
        </line-chart>
        <bar-chart *ngIf="chart.chartType === 'bar' || chart.chartType === 'horizontalBar'" [barChartLabels]="chart.barChartLabels"
            [barChartData]="chart.barChartData" [title]="chart.title"></bar-chart>
    </div>
</ng-container>