<ng-container>
    <mat-toolbar color="primary" style="background-color: #292929;">
        <mat-toolbar-row>
            <img src="assets/logo-small.png" alt="Contrast-logo">
            <span class="title-center">Business Review Metrics</span>
            <mat-icon aria-hidden="false" (click)="openDialog()">
                settings
            </mat-icon>
        </mat-toolbar-row>
        <div>
            <mat-progress-bar *ngIf="isGeneratingReport" mode="indeterminate"></mat-progress-bar>
        </div>
    </mat-toolbar>
    <!-- <mat-grid-list cols="2" rowHeight="50%">
        <mat-grid-tile *ngFor="let chart of charts; index as i"> -->
    <div fxLayout="row wrap" fxLayout.xs="column wrap" fxAlignment="center center">
        <div fxFlex.gt-xs="49%" *ngFor="let chart of charts;" fxLayout="column" fxLayoutGap="10px" fxAlignment="center center">
            <line-chart *ngIf="chart.chartType === 'line'" [lineChartLabels]="chart.lineChartLabels"
                [lineChartData]="chart.lineChartData" [title]="chart.title">
            </line-chart>
            <bar-chart *ngIf="chart.chartType === 'bar' || chart.chartType === 'horizontalBar'"
                [barChartLabels]="chart.barChartLabels" [barChartData]="chart.barChartData" [title]="chart.title"
                [barChartOptions]="chart.barChartOptions">
            </bar-chart>
        </div>
    </div>
    <!-- </mat-grid-tile>
    </mat-grid-list> -->
</ng-container>