<mat-divider></mat-divider>
<mat-card style="height: 100%;" >
    <mat-card-header>
        <div><strong>{{ title }}</strong></div>
    </mat-card-header>
    <mat-card-content style="height: 100%;">
            <canvas  baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="chartType"
                [plugins]="lineChartPlugins" >
            </canvas>
    </mat-card-content>
</mat-card>
<mat-divider></mat-divider>